@import "node_modules/bootstrap/less/bootstrap";

@import "vars";
@import "global";
@import "components/Navbar";
@import "components/Footer";
@import "components/Login";
@import "components/Logo";
@import "components/Menu";

img {
    height: auto;
    width: 100%;
}

body {
    // background-color: blue;
}

.not-found {
    margin-top: 75px;
    margin-bottom: 75px;
}
